<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-home.css}">
    <script type="text/javascript" th:src="@{/javascript/product-edit.js}"></script>
    <title>Edit product</title>
</head>
<body style="background-image: linear-gradient(#217eef, #faf6f6)">
<!--HEADER-->
<header>
    <!--TOP NAVIGATION BAR-->
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <!--Logo-->
        <a class="navbar-brand pb-2" th:href="@{/home}">
            <img th:src="@{/img/logo.png}" height="30" width="110"/>
        </a>

        <!--Navigation bar toggle-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--Navigation button-->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!--Left button-->
            <ul class="navbar-nav mr-auto">
                <!--Shop-->
                <li class="nav-item">
                    <a class="nav-link" href="#">SHOP</a>
                </li>

                <!--Product-->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PRODUCT</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">New product</a></li>
                        <li><a class="dropdown-item" href="#">Best selling</a></li>
                        <li><a class="dropdown-item" href="#">Summer sell</a></li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="http://google.com">Product list</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Clothes</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Tops</a></li>
                                        <li><a class="dropdown-item" href="#">Leggings</a></li>
                                        <li><a class="dropdown-item" href="#">Dressed</a></li>
                                        <li><a class="dropdown-item" href="#">Bikini</a></li>
                                        <li><a class="dropdown-item" href="#">Underwear</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Accessories</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Hat</a></li>
                                        <li><a class="dropdown-item" href="#">Ring</a></li>
                                        <li><a class="dropdown-item" href="#">Necklace</a></li>
                                        <li><a class="dropdown-item" href="#">Hand bag</a></li>
                                        <li><a class="dropdown-item" href="#">Shoes</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="#">All</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <!--About-->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownAboutLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT US</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAboutLink">
                        <li><a class="dropdown-item" href="#">Contact</a></li>
                        <li><a class="dropdown-item" href="#">Store</a></li>
                        <li><a class="dropdown-item" href="#">History</a></li>
                        <li><a class="dropdown-item" href="#">Vision</a></li>
                        <li><a class="dropdown-item" href="#">Our brands</a></li>
                    </ul>
                </li>

                <!--Help-->
                <li class="nav-item">
                    <a class="nav-link" href="#">HELP</a>
                </li>
            </ul>

            <!--Right button-->
            <ul class="navbar-nav ml-auto">
                <!--User-->
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i> USER</a>
                </li>

                <!--Cart-->
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i> CART</a>
                </li>

                <!--Sign out-->
                <li class="nav-item">
                    <a class="nav-link" href="#">SIGN OUT</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--2ND NAVIGATION BAR-->
    <div>
        <nav class="navbar navbar-expand-md navbar-light mx-lg-5 pb-3">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Top for this month</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Our featured picks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Summer collection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Autumn choice</a>
                    </li>
                </ul>

                <!--Search bar-->
                <form class="form-inline ml-auto" action="#" method="post">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-light border-0" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                        <input type="text" class="form-control bg-light border-0" placeholder="Find something..." aria-label="find" aria-describedby="basic-addon1" name="find" id="find">
                    </div>
                </form>
            </div>
        </nav>
    </div>
</header>
<!--END OF HEADER-->

<!--CONTENT-->
<div class="container pb-5 pt-5">
    <div class="row">
        <div class="col col-lg-4 col-md-12 col-sm-12 col-xs-12 image-upload">
            <label for="file-upload">
                <img id="output" th:src="@{/img/product/__${product.picture}__}" style="height: 500px; width: 350px; border-radius: 24px">
            </label>
            <input type="file" id="file-upload" name="file-upload" accept="image/*" onchange="loadFile(event)">
            <button class="btn btn-primary btn-lg btn-block" onclick="changePicture()">Change picture</button>
        </div>
        <div class="col col-lg-8 col-md-12 col-sm-12 col-xs-12 pl-5">
            <h1>Edit product information</h1>
            <div>
                <h4 class="text-success d-flex justify-content-center" id="message"></h4>
                <fieldset>
                    <legend>Product information</legend>
                    <table class="table table-borderless table-hover">
                        <tr>
                            <th class="w-25" scope="row">Name:</th>
                            <td class="w-75">
                                <input class="form-control" type="hidden" id="productId" th:value="${product.productId}"/>
                                <input class="form-control" type="hidden" id="productPicture" th:value="${product.picture}"/>
                                <input class="form-control" type="text" id="productName" th:value="${product.productName}"/>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Category:</th>
                            <td>
                                <select class="form-control" id="categoryId">
                                    <option th:each="c: ${categories}" th:value="${c.categoryId}" th:text="${c.categoryName}" th:selected="(${c.categoryId} == ${product.category.categoryId})"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Detail:</th>
                            <td>
                                <textarea rows = "3" class="form-control" id="detail" th:text="${product.detail}"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Price:</th>
                            <td><input class="form-control" type="number" id="price" th:value="${product.price}"/></td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-primary" onclick="addOption()">Add option</button>
                            </td>
                            <td>
                                <table id="dataTable" class="table table-borderless table-hover">
                                    <tr>
                                        <th class="w-25">SKU</th>
                                        <th class="w-25">Size</th>
                                        <th class="w-25">Color</th>
                                        <th class="w-25">Quantity</th>
                                    </tr>
                                    <th:block th:each="sku : ${product.skuList}">
                                        <tr>
                                            <td>
                                                <input type='hidden' class='skuId form-control' th:value="${sku.skuId}"/>
                                                <input type='text' class='skuValue form-control' th:value="${sku.skuValue}"/>
                                            </td>
                                            <td>
                                                <select class='optionSizeId form-control'>
                                                    <option th:each="size: ${sizes}" th:value='${size.optionId}' th:text="${size.optionName}" th:selected="(${size.optionId} == ${sku.getOption(1)})" onclick="setSize(${size.optionId})"></option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class='optionColorId form-control'>
                                                    <option th:each="color: ${colors}" th:value='${color.optionId}' th:text="${color.optionName}" th:selected="(${color.optionId} == ${sku.getOption(2)})"></option>
                                                </select>
                                            </td>
                                            <td><input type='number' class='quantity form-control' th:value="${sku.quantity}"/></td>
                                            <td><button class="deleteButton btn btn-danger" onclick="deleteOption()">X</button></td>
                                        </tr>
                                    </th:block>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <button class="btn btn-primary btn-lg btn-block" onclick="editProduct()">Save product information</button>
                </fieldset>
            </div>
        </div>
    </div>

</div>
<!--END OF CONTENT-->

<!--FOOTER-->
<footer class="page-footer font-small mdb-color pt-4 bg-light text-secondary">
    <div class="container text-center text-md-left">

        <!--MAIN FOOTER-->
        <div class="row text-center text-md-left mt-3 pb-3">
            <!--SHOP-->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">SHOP</h6>
                <p>Bong Shop with the motto "Accompany with your fashion style" will be a safe and prestigious shopping place.</p>
            </div>
            <hr class="w-100 clearfix d-md-none">

            <!--PRODUCTS-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                <p><a href="#">Bong Shop</a></p>
                <p><a href="#">Burberry</a></p>
                <p><a href="#">Hermes</a></p>
                <p><a href="#">Lacoste</a></p>
            </div>
            <hr class="w-100 clearfix d-md-none">

            <!--USEFUL LINKS-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                <p><a href="#">Your Account</a></p>
                <p><a href="#">Become an Affiliate</a></p>
                <p><a href="#">Shipping Rates</a></p>
                <p><a href="#">Help</a></p>
            </div>
            <hr class="w-100 clearfix d-md-none">

            <!--CONTACT-->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p><i class="fas fa-home mr-3"></i>Ho Tung Mau, Ha Noi</p>
                <p><i class="fas fa-envelope mr-3"></i>info@example.com</p>
                <p><i class="fas fa-phone mr-3"></i>+0123 456 788</p>
                <p><i class="fas fa-print mr-3"></i>+0123 456 789</p>
            </div>

        </div>
        <hr>

        <!--CONNECT-->
        <div class="row d-flex align-items-center">
            <!--COPYRIGHT-->
            <div class="col-md-7 col-lg-8">
                <p class="text-center text-md-left">© 2020 Copyright:
                    <a href="#">
                        <strong>BongShop.com</strong>
                    </a>
                </p>
            </div>

            <!--SOCIAL-->
            <div class="col-md-5 col-lg-4 ml-lg-0">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <!-- Facebook -->
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <!-- Twitter -->
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <!-- Google +-->
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <!--Linkedin -->
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <!--Instagram-->
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--END OF FOOTER-->
</body>
</html>