<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/listProduct.css}">



</head>
<body>
<!--HEADER-->
<header>
    <!--TOP NAVIGATION BAR-->
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <!--Logo-->
        <a class="navbar-brand pb-2" th:href="@{/home/}">
            <img th:src="@{/img/logo.png}" height="30" width="110"/>
        </a>

        <!--Navigation bar toggle-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--Navigation button-->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!--Left button-->
            <ul class="navbar-nav mr-auto">
                <!--Shop-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/product/}">SHOP</a>
                </li>

                <!--Product-->
                <li class="nav-item dropdown">
                    <a class="nav-link" th:href="@{/product/}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PRODUCT</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/product/findProductByCategory(category='Shirt')}">SHIRT</a></li>
                        <li><a class="dropdown-item" th:href="@{/product/findProductByCategory(category='Dress')}">DRESS</a></li>
                        <li><a class="dropdown-item" th:href="@{/product/findProductByCategory(category='Trousers')}">TROUSERS</a></li>
                        <li><a class="dropdown-item" th:href="@{/product/findProductByCategory(category='Bikini')}">BIKINI</a></li>

                    </ul>
                </li>

                <!--About-->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownAboutLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT US</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAboutLink">
                        <li><a class="dropdown-item" href="#">Contact</a></li>
                        <li><a class="dropdown-item" href="#">Store</a></li>
                        <li><a class="dropdown-item" href="#">History</a></li>
                        <li><a class="dropdown-item" href="#">Vision</a></li>
                        <li><a class="dropdown-item" href="#">Our brands</a></li>
                    </ul>
                </li>

                <!--Help-->
                <li class="nav-item">
                    <a class="nav-link" href="#">HELP</a>
                </li>
            </ul>

            <!--Right button-->
            <ul class="navbar-nav ml-auto">
                <!--User-->
                <!--                <li class="nav-item">-->
                <a sec:authorize="isAuthenticated()" class="nav-link" href="/home/edit"><i class="fa fa-user" aria-hidden="true"></i><span th:text="${nameUser}" style="font-weight: bold"></span></a>
                <!--                </li>-->

                <!--Cart-->
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/cart/}"><i class="fas fa-shopping-cart"></i> CART</a>
                </li>

                <!--Sign out-->
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" href="/home/logout">SIGN OUT</a>
                    <a class="nav-link" sec:authorize="isAnonymous()" href="/home/login">SIGN IN</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--2ND NAVIGATION BAR-->
    <div>
        <nav class="navbar navbar-expand-md navbar-light mx-lg-5 pb-3">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/product/create}">Add new product</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</header>
<!--END OF HEADER-->
<div class="container">
    <div class="row">
        <div class="card bg-light mb-3" id="sidebar">
            <form  method="post" th:action="@{/product/findSkuByProductName}" style="width:200px">
                <input class="form-control " type="text" name="search" placeholder="Search" aria-label="Search">
                <input type="submit" style="display: none" />
            </form>
            <h3>CART</h3>
            <div id="cart">
                <span class="empty">No items in cart.</span>
                
            </div>

            <h3>CATEGORIES</h3>
            <div class="checklist categories">
                <ul>
                    <li><a th:href="@{/product/findProductByCategory(category='Shirt')}">Shirt</a></li>
                    <li><a th:href="@{/product/findProductByCategory(category='Dress')}">Dress</a></li>
                    <li><a th:href="@{/product/findProductByCategory(category='Trousers')}">Trousers</a></li>
                    <li><a th:href="@{/product/findProductByCategory(category='Bikini')}">Bikini</a></li>

                </ul>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3" th:each="product:${products}" style="padding-top: 20px">
                    <div class="product">
                        <div class="make3D">
                            <div class="product-front">
                                <div class="shadow"></div>
                                <img th:src="@{/img/product/__${product.picture}__}"/>
                                <div class="image_overlay"></div>
                                <div class="add_to_cart" th:value="${product.productId}">Add to cart</div>
                                <div class="view_gallery"><a th:href="@{/product/detail/__${product.productId}__}">detail</a></div>
                                <div class="stats">
                                    <div class="stats-container">

                                        <div class="product-options">
                                            <input type='hidden' id='productId' th:value="${product.productId}"/>
                                            <span class="product_name" th:text="${product.productName}"></span>
                                            <p class="productPrice" th:text="${product.price}"></p>
                                            <span>SIZES</span>
                                            <span>XS, S, M, L, XL, XXL</span>
                                            <span>COLORS</span>
                                            <div class="colors">
                                                <div class="c-blue"><span></span></div>
                                                <div class="c-red"><span></span></div>
                                                <div class="c-white"><span></span></div>
                                                <div class="c-green"><span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>

    $(document).ready(function () {

        $(".largeGrid").click(function () {
            $(this).find('a').addClass('active');
            $('.smallGrid a').removeClass('active');

            $('.product').addClass('large').each(function () {
            });
            setTimeout(function () {
                $('.info-large').show();
            }, 200);
            setTimeout(function () {

                $('.view_gallery').trigger("click");
            }, 350);

            return false;
        });

        $(".smallGrid").click(function () {
            $(this).find('a').addClass('active');
            $('.largeGrid a').removeClass('active');

            $('div.product').removeClass('large');
            $(".make3D").removeClass('animate');
            $('.info-large').fadeOut("fast");
            setTimeout(function () {
                $('div.flip-back').trigger("click");
            }, 350);
            return false;
        });

        $(".smallGrid").click(function () {
            $('.product').removeClass('large');
            return false;
        });

        $('.colors-large a').click(function () {
            return false;
        });


        $('.product').each(function (i, el) {

            // Lift card and show stats on Mouseover
            $(el).find('.make3D').hover(function () {
                $(this).parent().css('z-index', "20");
                $(this).addClass('animate');
                $(this).find('div.carouselNext, div.carouselPrev').addClass('visible');
            }, function () {
                $(this).removeClass('animate');
                $(this).parent().css('z-index', "1");
                $(this).find('div.carouselNext, div.carouselPrev').removeClass('visible');
            });

            // Flip card to the back side
            $(el).find('.view_gallery').click(function () {

                $(el).find('div.carouselNext, div.carouselPrev').removeClass('visible');
                $(el).find('.make3D').addClass('flip-10');
                setTimeout(function () {
                    $(el).find('.make3D').removeClass('flip-10').addClass('flip90').find('div.shadow').show().fadeTo(80, 1, function () {
                        $(el).find('.product-front, .product-front div.shadow').hide();
                    });
                }, 50);

                setTimeout(function () {
                    $(el).find('.make3D').removeClass('flip90').addClass('flip190');
                    $(el).find('.product-back').show().find('div.shadow').show().fadeTo(90, 0);
                    setTimeout(function () {
                        $(el).find('.make3D').removeClass('flip190').addClass('flip180').find('div.shadow').hide();
                        setTimeout(function () {
                            $(el).find('.make3D').css('transition', '100ms ease-out');
                            $(el).find('.cx, .cy').addClass('s1');
                            setTimeout(function () {
                                $(el).find('.cx, .cy').addClass('s2');
                            }, 100);
                            setTimeout(function () {
                                $(el).find('.cx, .cy').addClass('s3');
                            }, 200);
                            $(el).find('div.carouselNext, div.carouselPrev').addClass('visible');
                        }, 100);
                    }, 100);
                }, 150);
            });

            // Flip card back to the front side
            $(el).find('.flip-back').click(function () {

                $(el).find('.make3D').removeClass('flip180').addClass('flip190');
                setTimeout(function () {
                    $(el).find('.make3D').removeClass('flip190').addClass('flip90');

                    $(el).find('.product-back div.shadow').css('opacity', 0).fadeTo(100, 1, function () {
                        $(el).find('.product-back, .product-back div.shadow').hide();
                        $(el).find('.product-front, .product-front div.shadow').show();
                    });
                }, 50);

                setTimeout(function () {
                    $(el).find('.make3D').removeClass('flip90').addClass('flip-10');
                    $(el).find('.product-front div.shadow').show().fadeTo(100, 0);
                    setTimeout(function () {
                        $(el).find('.product-front div.shadow').hide();
                        $(el).find('.make3D').removeClass('flip-10').css('transition', '100ms ease-out');
                        $(el).find('.cx, .cy').removeClass('s1 s2 s3');
                    }, 100);
                }, 150);

            });

            makeCarousel(el);
        });

        $('.add-cart-large').each(function (i, el) {
            $(el).click(function () {
                var carousel = $(this).parent().parent().find(".carousel-container");
                var img = carousel.find('img').eq(carousel.attr("rel"))[0];
                var position = $(img).offset();

                var productName = $(this).parent().find('h4').get(0).innerHTML;

                $("body").append('<div class="floating-cart"></div>');
                var cart = $('div.floating-cart');
                $("<img src='" + img.src + "' class='floating-image-large' />").appendTo(cart);

                $(cart).css({
                    'top': position.top + 'px',
                    "left": position.left + 'px'
                }).fadeIn("slow").addClass('moveToCart');
                setTimeout(function () {
                    $("body").addClass("MakeFloatingCart");
                }, 800);

            });
        })

        /* ----  Image Gallery Carousel   ---- */
        function makeCarousel(el) {


            var carousel = $(el).find('.carousel ul');
            var carouselSlideWidth = 200;
            var carouselWidth = 0;
            var isAnimating = false;
            var currSlide = 0;
            $(carousel).attr('rel', currSlide);

            // building the width of the casousel
            $(carousel).find('li').each(function () {
                carouselWidth += carouselSlideWidth;
            });
            $(carousel).css('width', carouselWidth);


        }

        $('.sizes a span, .categories a span').each(function (i, el) {
            $(el).append('<span class="x"></span><span class="y"></span>');

            $(el).parent().on('click', function () {
                if ($(this).hasClass('checked')) {
                    $(el).find('.y').removeClass('animate');
                    setTimeout(function () {
                        $(el).find('.x').removeClass('animate');
                    }, 50);
                    $(this).removeClass('checked');
                    return false;
                }

                $(el).find('.x').addClass('animate');
                setTimeout(function () {
                    $(el).find('.y').addClass('animate');
                }, 100);
                $(this).addClass('checked');
                return false;
            });
        });

        $('.add_to_cart').click(function () {
            // var productId = $('#productId').val();
            var productId =$(this).attr("value");
            $.ajax({
                type: "GET",

                //tên API
                url: "/cart/addtocart/" + productId +"/2/7",
            });

            var productCard = $(this).parent();
            var position = productCard.offset();
            var productImage = $(productCard).find('img').get(0).src;
            var productName = $(productCard).find('.product_name').get(0).innerHTML;
            var productPrice = $(productCard).find('.productPrice').get(0).innerHTML;

            $("body").append('<div class="floating-cart"></div>');
            var cart = $('div.floating-cart');
            productCard.clone().appendTo(cart);
            $(cart).css({
                'top': position.top + 'px',
                "left": position.left + 'px'
            }).fadeIn("slow").addClass('moveToCart');
            setTimeout(function () {
                $("body").addClass("MakeFloatingCart");
            }, 800);
            setTimeout(function () {
                $('div.floating-cart').remove();
                $("body").removeClass("MakeFloatingCart");


                var cartItem = "<div class='cart-item'><div class='img-wrap'><img src='" + productImage + "' alt='' /></div><span>" + productName + "</span><strong>" + productPrice + "</strong><div class='cart-item-border'></div><div class='delete-item'></div></div>";

                $("#cart .empty").hide();
                $("#cart").append(cartItem);
                $("#checkout").fadeIn(500);

                $("#cart .cart-item").last()
                    .addClass("flash")
                    .find(".delete-item").click(function () {
                    $(this).parent().fadeOut(300, function () {
                        $(this).remove();
                        if ($("#cart .cart-item").size() == 0) {
                            $("#cart .empty").fadeIn(500);
                            $("#checkout").fadeOut(500);
                        }
                    })
                });
                setTimeout(function () {
                    $("#cart .cart-item").last().removeClass("flash");
                }, 10);

            }, 1000);
        });
    });
</script>
</body>
</html>