<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--    <link rel="stylesheet" href="resources\static\cart.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-cart.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <table class="table table-hover shopping-cart-wrap">
                    <thead class="text-muted">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col" width="120">Quantity</th>
                        <th scope="col" width="120">Price</th>
                        <th scope="col" width="200" class="text-right">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="product:${productCart}">
                        <tr class="parentCart">
                            <td>
                                <figure class="media">
                                    <div class="img-wrap"><img th:src="@{/img/product/__${product.getKey().picture}__}" class="img-thumbnail img-sm"></div>
                                    <figcaption class="media-body">
                                        <input hidden class="productId" th:value="${product.getKey().productId}">
                                        <h6 class="title text-truncate" th:text="${product.getKey().productName}"></h6>
                                        <dl class="param param-inline small">
                                            <dt>Size:</dt>
                                            <th:block th:each="option:${product.getValue()}">
                                                <input hidden  class="sizeId" th:value="${option.getKey()}">
                                                <!--                                                <dd th:text="${option.getKey()}"></dd>-->
                                                <dd class="sizeId" th:switch="${option.getKey()}">
                                                    <span th:case="1" th:text="S"></span>
                                                    <span th:case="2" th:text="M"></span>
                                                    <span th:case="3" th:text="L"></span>
                                                    <span th:case="4" th:text="XL"></span>
                                                </dd>
                                            </th:block>
                                        </dl>
                                        <dl class="param param-inline small">
                                            <dt>Color:</dt>
                                            <th:block th:each="option:${product.getValue()}">
                                                <input hidden  class="colorId" th:value="${option.getValue()}">
                                                <!--                                                <dd th:text="${option.getValue()}"></dd>-->
                                                <dd class="colorId" th:switch="${option.getValue()}">
                                                    <span th:case="5" th:text="black"></span>
                                                    <span th:case="6" th:text="white"></span>
                                                    <span th:case="7" th:text="red"></span>
                                                </dd>
                                            </th:block>
                                        </dl>
                                    </figcaption>
                                </figure>
                            </td>
                            <td>
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </td>
                            <td>
                                <div class="price-wrap">
                                    <var th:text="${product.getKey().price}"></var>
                                    <!--                        <small class="text-muted">(USD5 each)</small>-->
                                </div> <!-- price-wrap .// -->
                            </td>
                            <td class="text-right">
                                <a title="" href="" class="btn btn-outline-success" data-toggle="tooltip"
                                   data-original-title="Save to Wishlist"> <i class="fa fa-heart"></i></a>
                                <a href="" class="btn btn-outline-danger">Remove</a>
                                <!--                        <a href="" class="deleteProduct" >Remove</a>-->
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div> <!-- card.// -->
        </div>

        <div class="col-lg-4">

            <!-- Card -->
            <div class="mb-3">
                <div class="pt-4">

                    <h5 class="mb-3">The total amount of</h5>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Temporary amount
                            <span th:text="${totalPrice}" id="totalPrice1"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            Shipping
                            <span>Free</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                                <strong>The total amount of</strong>
                                <strong>
                                    <p class="mb-0">(including VAT)</p>
                                </strong>
                            </div>
                            <span id="totalPrice2" th:text="${totalPrice}" style="font-weight: bold"></span>
                        </li>
                    </ul>

                    <button type="button" class="btn btn-primary btn-block">Go to checkout</button>

                </div>
            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="mb-3">
                <div class="pt-4">

                    <a class="dark-grey-text d-flex justify-content-between" data-toggle="collapse"
                       href="#collapseExample"
                       aria-expanded="false" aria-controls="collapseExample">
                        Add a discount code (optional)
                        <span><i class="fas fa-chevron-down pt-1"></i></span>
                    </a>
                    <h5 class="mb-4">We accept</h5>

                    <img class="mr-2" width="45px"
                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                         alt="Visa">
                    <img class="mr-2" width="45px"
                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                         alt="American Express">
                    <img class="mr-2" width="45px"
                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                         alt="Mastercard">
                    <img class="mr-2" width="45px"
                         src="https://mdbootstrap.com/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.png"
                         alt="PayPal acceptance mark">

                    <div class="collapse" id="collapseExample">
                        <div class="mt-3">
                            <div class="md-form md-outline mb-0">
                                <input type="text" id="discount-code" class="form-control font-weight-light"
                                       placeholder="Enter discount code">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card -->

        </div>
        <!--Grid column-->

    </div>
    </div>
</div>
<!--payment-->

<script>
    $(document).ready(function () {
        $('.btn-outline-danger').click(function (event) {

            let a = $(this);
            let productId = $('.parentCart .productId').val();
            let sizeOptionId = $('.parentCart .sizeId').val();
            let colorOptionId = $('.parentCart .colorId').val();

            $.ajax({
                type: "DELETE",
                url:"/cart/delete-product/" + productId + "/" + sizeOptionId+ "/" + colorOptionId,
                success: function (totalPrice) {
                    a.parent().parent().remove();
                    document.getElementById("totalPrice1").innerHTML = totalPrice;
                    document.getElementById("totalPrice2").innerHTML = totalPrice;
                }

            });
            event.preventDefault();
        });
    })
</script>
</body>
</html>