<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style-signup.css}">
    <title>Edit</title>
    <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
<body th:style="'background: url(/img/background2.jpg) no-repeat center center fixed;'">
<!--CONTENT-->
<div class="login-form">
    <!--Go back-->
    <a href="/home">< Go back</a>

    <!--Logo-->
    <div class="logo"><img th:src="@{/img/logo.png}" alt="logo"></div>

    <!--Social-->
    <div class="social-media">
        <button class="fb"><img th:src="@{/img/fb.png}" alt="facebook"></button>
        <button class="google"><img th:src="@{/img/google.png}" alt="google"></button>
        <button class="twitter"><img th:src="@{/img/twitter.png}" alt="twitter"></button>
    </div>

    <!--Title-->
    <h6>Edit</h6>

    <!--Sign Up form-->
    <form method="post" action="#" th:object="${customer}" >
        <!--User name-->
        <div class="textbox">
            <p>Name :</p>
            <input
                    type="text"
                    placeholder="Nhập tên"
                    th:field="*{name}"
            >
            <input th:type="hidden" name="id" th:field="*{id}">
        </div>
        <div style="height: 20px">
            <p th:each="error : ${#fields.errors('name')}" th:text="${error}"></p>
        </div>

        <!--Email-->
        <div class="textbox">
            <p>Mail</p>
            <input type="text"
                   placeholder=""
                   th:field="*{mail}"
            >
        </div>
        <div style="height: 20px">
            <p th:each="error : ${#fields.errors('mail')}" th:text="${error}"></p>
        </div>

        <!--Password-->
        <div class="textbox">
            <p>Password</p>
            <input type="password"
                   placeholder="Passwords must be at least 6 characters,up to 16 characters."
                   th:field="*{password}" >
        </div>
        <div style="height: 20px">
            <p th:each="error : ${#fields.errors('password')}" th:text="${error}"></p>
        </div>

        <!-- Re-enter Password-->
        <div class="textbox">
            <p>Re-enter Password</p>
            <input type="password"  placeholder="Re-enter Password" th:field="*{matchingPassword}">

        </div>

        <!--        Address-->
        <div class="textbox">
            <p>Address</p>
            <input type="text"
                   placeholder=""
                   th:field="*{address}" >
        </div>
        <div style="height: 20px">
            <p th:each="error : ${#fields.errors('address')}" th:text="${error}"></p>
        </div>

        <!--        phone number-->
        <div class="textbox">
            <p>Phone Number</p>
            <input type="text"
                   placeholder=""
                   th:field="*{phoneNumber}"
            >
        </div>
        <div style="height: 20px">
            <p th:each="error : ${#fields.errors('phoneNumber')}" th:text="${error}"></p>
        </div>

        <div style="height: 20px">
            <th:block th:if="${message}"><p th:text="${message}"></p></th:block>
        </div>

        <!--        Error-->
        <!--        <div style="height: 20px; margin-top: 5px">-->
        <!--            <p style="color: #ff0000; text-align: center">Pass error</p>-->
        <!--            <p style="color: #00ff04; text-align: center">Message</p>-->
        <!--            <p style="color: #ff0000; text-align: center">Message error</p>-->
        <!--        </div>-->
        <!--Sign Up button-->
        <input type="submit" value="Save" class="signUp-btn" disabled>

        <!--Private Policy-->
        <div class="privacy-link">
            <a href="#">Private Policy</a>
        </div>
    </form>
</div>
<!--END OF CONTENT-->
<script th:src="@{/css/active-button.js}"></script>
</body>
</html>